.nav a:hover {
    background-color: #73B817;
    color: white;
    
  }

.nav a {
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  }
  
.active {
  background-color: #0F7285;
}

.sidebar{
height: 100vh;
}


.price{
	text-align:right;
} 
.receipt-table{
	margin:auto;
	width:280px;
}

.receipt-table td{
  text-align: right;
}
.receipt-table tr{
	line-height: 45px;
}


.carInfo{
	background: #D1ECF1;
	font-weight:bold;
	text-align:center;
}
.carPrice{
	background: #D4EDDA;
	font-weight:bold;
	text-align:center;
}

.homebtn{
	margin-left:100px;
}