<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Assignment</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
</head>
<body>

	<div class="">
		<h1>Search Car</h1>
				<div class="view">
			<a th:href="@{/}">Home</a>
		</div>
		<form action="#" th:action="@{/search}" method="post">

			<label>By ID</label> <input type="text" name="id" required /> <input
				type="submit" value="search"
				style="text-align: center; width: 80px; display: inline" /><br />

		</form>
		<br />

		<form action="#" th:action="@{/search}" method="post">

			<label>By Make</label> <input type="text" name="make" required /> <input
				type="submit" value="search"
				style="text-align: center; width: 80px; display: inline" /><br />

		</form>
		<br />

		<form action="#" th:action="@{/search}" method="post">

			<label>By Model</label> <input type="text" name="carModel" required />

			<input type="submit" value="search"
				style="text-align: center; width: 80px; display: inline" /><br />

		</form>
		<br />

		<form action="#" th:action="@{/search}" method="post">

			<label>By Price Range</label> <label>Min Price</label> <input
				type="number" name="minPrice" required /><br /> <label>Max
				Price</label> <input type="number" name="maxPrice" required /><br /> <input
				type="submit" value="search"
				style="text-align: center; width: 80px;" /><br />

		</form>

	</div>

</body>
</html>