<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Assignment</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
</head>
<body>
	<div>
		<h1>Search Results</h1>
		<div class="view">
			<a th:href="@{/}">Home</a>
		</div>

		<table border="1">
			<tr>
				<th>Id</th>
				<th>Make</th>
				<th>Model</th>
				<th>Colour</th>
				<th class="price">Price</th>
				<th>VIN</th>
				<th>Dealership</th>
				<th>Action</th>


			</tr>
			<tr th:each="car: ${cars}">
				<td th:text="${car.id}"></td>
				<td th:text="${car.make}"></td>
				<td th:text="${car.model}"></td>
				<td th:text="${car.colour}"></td>
				<td
					th:text="'$'+${#numbers.formatDecimal(car.price, 5, 'COMMA', 2, 'POINT' )}"
					class="price"></td>
				<td th:text="${car.VIN}"></td>
				<td th:text="${car.dealership}"></td>
				<td><a href="" th:href="@{/edit/{id}(id=${car.id})}">Edit</a>&nbsp
					<a href="" th:href="@{/delete/{id}(id=${car.id})}">Delete</a>&nbsp
					<a href="" th:href="@{/purchase/{id}(id=${car.id})}">Purchase</a></td>
			</tr>

		</table>
		<p>&#42 Price above is Canadian Dollar.</p>

	</div>

</body>
</html>